{% extends 'base.html' %}
{% block title%}
  <title>Dictionary App</title>
{% endblock %}

{% block home_active %}
  class ="active"
{% endblock %}

{% block content %}
   <div class="row">
       <div class="col-md-6">
           <h1> The Dictionary App</h1>
           <div class="row">
               <div class="col-sm-6">
                   <form action="#" method="POST">
                       <div class="form-group">
                           <label for="word">Word:</label>
                            <input type="text"
                                class="form-control"
                                name="word"
                                id="word" 
                                placeholder="type in the word here:"
                                required
                            >
                       </div>
                       <button type="submit" class="btn btn-primary btn-block
                        btn-lg">Submit</button>
                   </form>
               </div>
                <div class="col-sm-6">
                    <form action="">

                        <div class="form-group">
                            <label for="word">Meaning:</label>
                            <textarea class="form-control" id="word"
                             placeholder="the meaning of the word shows here:" disabled>{{user_response}}</textarea>
                        </div>

                    </form>
                    
                </div>
           </div>
       </div>
       <div class="col-md-6">
           <img src="{{url_for('static',filename ='images/focus.jpeg')}}" alt="">
       </div>
   </div>

{% endblock %}
